<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="stijl.css">
	<title>{{title}}</title>
</head>
<body>
	<div><a href="index.html">index</a>
	<a href="blog.html">blog</a>
<a href="contact.html">contact</a></div>
    <header> {{main_content}}</header>
	<main> 
		<ul>
			{% for post in posts %}
				<li>{post.title} by {post.author} on {post.date}</li>
				<li>{post.main_content}</li>
			{% endfor %}
		</ul>
</main>
</body>
</html>